<div class="d-flex justify-content-center">
  <div class="containter d-flex">
    <div class="row">
      <div class="col-11">
        <div class="card" style="width: 18rem;">
          <img src="/assets/_img/pokemon.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Quer conhecer todos os pokemons clássicos?</h5>
            <p class="card-text">Pokémon são criaturas fictícias que pertencem ao universo da série de mesmo nome - Pokémon.
              Originalmente, a série foi criada como um jogo de videogame e, com a sua popularização, se espalhou para diversos
              outros formatos, como séries de TV, filmes e livros.
              <br>
              A palavra pokémon é a contração de duas palavras em inglês: pocket, que significa bolso; e monster, que significa
              monstro. Assim, um pokémon é um <b>"monstro de bolso"</b>, na tradução literal.</p>
              <a routerLink="/poke" class="btn btn-primary">Clique aqui para conhecer os Pokemons clássicos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



